﻿@model IEnumerable<RealProperty.Domain.Models.ContactNumberType>

@{
    ViewBag.Title = "Customer Contact Number Type Listing";
}

@section actions {
    <p>
        <a href="@Url.Action("Create", "CustomerContactNumberType")" class="btn btn-success btn-block"><i class="icon-pushpin"></i> Create new</a>
    </p>
}

<div class="table-responsive">
    <table class="table table-bordered table-hover display datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "CustomerContactNumberType", new { id = item.ContactNumberTypeId })" class="btn btn-default btn-sm"><i class="icon-edit"></i> Edit</a>
                        <a href="@Url.Action("Details", "CustomerContactNumberType", new { id = item.ContactNumberTypeId })" class="btn btn-default btn-sm"><i class="icon-folder-open"></i> Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/theme.js"></script>
}
