﻿@model RealProperty.Domain.Models.Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Address</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StreetNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StreetNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StreetName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StreetName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Area)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Suburb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Suburb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressType.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressType.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Province.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Province.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AddressId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
