﻿@model IEnumerable<RealProperty.Domain.Models.Address>

@{
    ViewBag.Title = "Index";
}

@section leftnavigation {
    @Html.Partial("_PropertyManagementPartial")
}

<div class="tab-content">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StreetNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suburb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressType.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suburb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Province.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AddressId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AddressId })
                </td>
            </tr>
        }

    </table>
</div>