﻿@model RealProperty.Domain.Models.FileContent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FileContent</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UploadName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UploadName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaskedName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaskedName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FileExtension)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileExtension)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UploadUser.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UploadUser.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gallery.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gallery.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FileContentCategory.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileContentCategory.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FileContentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
