﻿@model RealProperty.Domain.Models.FileContent

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FileContent</legend>

        @Html.HiddenFor(model => model.FileContentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UploadName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UploadName)
            @Html.ValidationMessageFor(model => model.UploadName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaskedName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaskedName)
            @Html.ValidationMessageFor(model => model.MaskedName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FileExtension)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FileExtension)
            @Html.ValidationMessageFor(model => model.FileExtension)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UploadUser")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GalleryId, "Gallery")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GalleryId", String.Empty)
            @Html.ValidationMessageFor(model => model.GalleryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FileContentCategoryId, "FileContentCategory")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FileContentCategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.FileContentCategoryId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
