﻿@model IEnumerable<RealProperty.Domain.Models.FileContent>

@{
    ViewBag.Title = "Index";
}

@section leftnavigation {
    @Html.Partial("_ContentManagementPartial")
}

<div class="tab-content">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UploadName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaskedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileExtension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallery.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileContentCategory.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaskedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileExtension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gallery.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileContentCategory.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FileContentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FileContentId })
                </td>
            </tr>
        }
    </table>
</div>