﻿@using RealProperty.HtmlHelpers;
@model RealProperty.Domain.Models.ListingPropertyType

@{
    ViewBag.Title = "Create Property Type";
}
@section actions {
    <p>
        <a href="@Url.Action("Index", "ListingPropertyType")" class="btn btn-info btn-block"> <i class="icon-edit"></i> Cancel</a>
    </p>
}

<div class="container">
    @using (Html.BeginForm("Create", "ListingPropertyType", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, message: null, htmlAttributes: new { @class = "alert alert-danger" })

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Description)">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "form-control", @placeholder = "Description", @autofocus = "" })
                    @Html.ValidationMessageFor(model => model.Description, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg btn-block" value="Save" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
