﻿@using RealProperty.HtmlHelpers;
@model RealProperty.Domain.Models.Office

@{
    ViewBag.Title = "Create Office";
}

@section actions {
    <p>
        <a href="@Url.Action("Index", "Office")" class="btn btn-info btn-block"> <i class="icon-edit"></i> Cancel</a>
    </p>
}

<div class="container">
    @using (Html.BeginForm("Create", "Office", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, message: null, htmlAttributes: new { @class = "alert alert-danger" })

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Name)">
                    @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Name, null, htmlAttributes: new { @class = "form-control", @placeholder = "Name", @autofocus = "" })
                    @Html.ValidationMessageFor(model => model.Name, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.MainOfficeId)">
                    @Html.LabelFor(model => model.MainOfficeId, "Main Office", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("MainOfficeId", (ViewBag.MainOfficeId as SelectList), String.Empty, htmlAttributes: new { @class = "form-control", @placeholder = "Main Office" })
                    @Html.ValidationMessageFor(model => model.MainOfficeId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Address.StreetNumber)">
                    @Html.LabelFor(model => model.Address.StreetNumber, "StreetNumber", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Address.StreetNumber, null, htmlAttributes: new { @class = "form-control", @placeholder = "StreetNumber" })
                    @Html.ValidationMessageFor(model => model.Address.StreetNumber, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Address.StreetName)">
                    @Html.LabelFor(model => model.Address.StreetName, "StreetName", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Address.StreetName, null, htmlAttributes: new { @class = "form-control", @placeholder = "StreetName" })
                    @Html.ValidationMessageFor(model => model.Address.StreetName, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Address.Area)">
                    @Html.LabelFor(model => model.Address.Area, "Area", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Address.Area, null, htmlAttributes: new { @class = "form-control", @placeholder = "Area" })
                    @Html.ValidationMessageFor(model => model.Address.Area, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Address.Suburb)">
                    @Html.LabelFor(model => model.Address.Suburb, "Suburb", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Address.Suburb, null, htmlAttributes: new { @class = "form-control", @placeholder = "Suburb" })
                    @Html.ValidationMessageFor(model => model.Address.Suburb, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Address.City)">
                    @Html.LabelFor(model => model.Address.City, "City", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Address.City, null, htmlAttributes: new { @class = "form-control", @placeholder = "City" })
                    @Html.ValidationMessageFor(model => model.Address.City, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Address.Code)">
                    @Html.LabelFor(model => model.Address.Code, "Code", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Address.Code, null, htmlAttributes: new { @class = "form-control", @placeholder = "Code" })
                    @Html.ValidationMessageFor(model => model.Address.Code, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Address.AddressTypeId)">
                    @Html.LabelFor(model => model.Address.AddressTypeId, "Address Type", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("Address.AddressTypeId", (ViewBag.AddressTypeId as SelectList), String.Empty, htmlAttributes: new { @class = "form-control", @placeholder = "Address Type" })
                    @Html.ValidationMessageFor(model => model.Address.AddressTypeId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Address.ProvinceId)">
                    @Html.LabelFor(model => model.Address.ProvinceId, "Province", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("Address.ProvinceId", (ViewBag.ProvinceId as SelectList), String.Empty, htmlAttributes: new { @class = "form-control", @placeholder = "Province" })
                    @Html.ValidationMessageFor(model => model.Address.ProvinceId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg btn-block" value="Save" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
