﻿@model RealProperty.Domain.Models.Office

@{
    ViewBag.Title = "Office Details";
}

@section actions {
    <p>
        <a href="@Url.Action("Index", "Office")" class="btn btn-success btn-block"> <i class="icon-edit"></i> Home</a>
    </p>
}

<div class="container">
    <fieldset disabled>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Name, null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.MainOfficeId, "Main Office", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.MainOfficeId, null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.AddressId, "Address", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.AddressId, null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </fieldset>
</div>