﻿@using RealProperty.HtmlHelpers;
@model RealProperty.Domain.Models.CreateAgentViewModel

@{
    ViewBag.Title = "Create Agent";
}

@section actions {
    <p>
        <a href="@Url.Action("Index", "Agent")" class="btn btn-info btn-block"> <i class="icon-edit"></i> Cancel</a>
    </p>
}

<div class="container">
    @using (Html.BeginForm("Create", "Agent", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, message: null, htmlAttributes: new { @class = "alert alert-danger" })

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.OfficeId)">
                    @Html.LabelFor(model => model.OfficeId, "Office", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.OfficeId, null, htmlAttributes: new { @class = "form-control", @placeholder = "Office", @autofocus = "" })
                    @Html.ValidationMessageFor(model => model.OfficeId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        if (ViewBag.ShowField)
        {
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group @Html.FormControlValidatorClassFor(model => model.CompanyId)">
                        @Html.LabelFor(model => model.CompanyId, "Company", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.CompanyId, null, htmlAttributes: new { @class = "form-control", @placeholder = "Company" })
                        @Html.ValidationMessageFor(model => model.CompanyId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.UserName)">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control", @placeholder = "User Name", @autofocus = "" })
                    @Html.ValidationMessageFor(model => model.UserName, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.FirstName)">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @class = "form-control", @placeholder = "First Name" })
                    @Html.ValidationMessageFor(model => model.FirstName, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.LastName)">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.LastName, htmlAttributes: new { @class = "form-control", @placeholder = "Last Name" })
                    @Html.ValidationMessageFor(model => model.LastName, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Email)">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control", @placeholder = "Email", @type = "email" })
                    @Html.ValidationMessageFor(model => model.Email, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.Password)">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Password", @type = "password" })
                    @Html.ValidationMessageFor(model => model.Password, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group @Html.FormControlValidatorClassFor(model => model.ConfirmPassword)">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Confirm Password", @type = "password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @Html.EditorFor(model => model.ContactNumberViewModels)
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg btn-block" value="Save" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
