﻿@using RealProperty.HtmlHelpers;


<li class="@Html.ClassForNavListLink("Index", "AddressType")">
    <a href="@Url.Action("Index", "AddressType")"><i class="icon-fixed-width icon-globe"></i> Address</a>
</li>
<li class="@Html.ClassForNavListLink("Index", "CustomerContactNumberType")">
    <a href="@Url.Action("Index", "CustomerContactNumberType")"><i class="icon-fixed-width icon-phone"></i> Contact Number</a>
</li>
<li class="@Html.ClassForNavListLink("Index", "ListingType")">
    <a href="@Url.Action("Index", "ListingType")"><i class="icon-fixed-width icon-building"></i> Listing Types</a>
</li>
<li class="@Html.ClassForNavListLink("Index", "CustomerType")">
    <a href="@Url.Action("Index", "CustomerType")"><i class="icon-fixed-width icon-male"></i> Customer Type</a>
</li>
<li class="@Html.ClassForNavListLink("Index", "FileContentCategory")">
    <a href="@Url.Action("Index", "FileContentCategory")"><i class="icon-fixed-width icon-picture"></i> File Category</a>
</li>
<li class="@Html.ClassForNavListLink("Index", "ListingPropertyType")">
    <a href="@Url.Action("Index", "ListingPropertyType")"><i class="icon-fixed-width icon-building"></i> Property Types</a>
</li>
<li class="@Html.ClassForNavListLink("Index", "ListingPropertyFeatureType")">
    <a href="@Url.Action("Index", "ListingPropertyFeatureType")"><i class="icon-fixed-width icon-beer"></i> Property Features</a>
</li>
<li class="@Html.ClassForNavListLink("Index", "Province")">
    <a href="@Url.Action("Index", "Province")"><i class="icon-fixed-width icon-leaf"></i> Provinces</a>
</li>