﻿@using RealProperty.HtmlHelpers;

<li class="@Html.ClassForNavListLink("Index", "Agent")">
    <a href="@Url.Action("Index", "Agent")"><i class="icon-fixed-width icon-briefcase"></i> Agent</a>
</li>
<li class="@Html.ClassForNavListLink("Index", "Office")">
    <a href="@Url.Action("Index", "Office")"><i class="icon-fixed-width icon-coffee"></i> Office</a>
</li>
@if (Roles.IsUserInRole("Superman"))
{
    <li class="@Html.ClassForNavListLink("Index", "User")">
        <a href="@Url.Action("Index", "User")"><i class="icon-fixed-width icon-user"></i> User</a>
    </li>
    <li class="@Html.ClassForNavListLink("Index", "Company")">
        <a href="@Url.Action("Index", "Company")"><i class="icon-fixed-width icon-truck"></i> Company</a>
    </li>
}