﻿@using RealProperty.HtmlHelpers;

<li class="@Html.ClassForNavListLink("Index", "Customer")">
    <a href="@Url.Action("Index", "Customer")"><i class="icon-fixed-width icon-thumbs-up-alt"></i> Manage Customers</a>
</li>