﻿<div id="footer">
    <div class="container">
        <p class="text-muted credit pull-right">&copy; @DateTime.Now.Year - <a target="_blank" href="http://www.forwardkey.co.za">Forward Key</a></p>
    </div>
</div>
