﻿@using RealProperty.HtmlHelpers;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - RealProperty Portal</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/bootstrap")
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="icon-fixed-width icon-tablet"></i> RealProperty Admin</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.ClassForNavListLink("Index", "Home")"><a href="@Url.Action("Index", "Home")"><i class="icon-fixed-width icon-dashboard"></i> Dashboard</a></li>

                    @if (Roles.IsUserInRole("Superman"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-fixed-width icon-cog"></i> Lookups <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @Html.Partial("_AdminLookupsPartial")
                            </ul>
                        </li>
                    }
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-fixed-width icon-building"></i> Property <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @Html.Partial("_PropertyManagementPartial")
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-fixed-width icon-group"></i> Customer <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @Html.Partial("_CustomerManagementPartial")
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-fixed-width icon-suitcase"></i> Agent &amp; Company  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @Html.Partial("_AgentManagementPartial")
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <b class="caret"></b></a>
                        @Html.Partial("_ProfilePartial")
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default panel-default-main">
                        <div class="panel-heading panel-main">
                            <h3 class="panel-title">@ViewBag.Title</h3>
                        </div>
                        <div class="panel-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default panel-default-actions">
                        <div class="panel-heading panel-actions">
                            <h3 class="panel-title">Actions</h3>
                        </div>
                        <div class="panel-body">
                            @RenderSection("actions", required: false)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderSection("leftnavigation", required: false)
    </div>
    @Html.Partial("_FooterPartial")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
