﻿@using RealProperty.HtmlHelpers;

<ul class="dropdown-menu">
    <li class="@Html.ClassForNavListLink("Details", "User")">
        <a href="@Url.Action("Details", "User")"><i class="icon-fixed-width icon-user"></i> Profile</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-fixed-width icon-power-off"></i> Log off</a>
    </li>
</ul>

@using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}