﻿@using RealProperty.HtmlHelpers;

<li class="@Html.ClassForNavListLink("Index", "Customer")">
    <a href="@Url.Action("Index", "ListingProperty")"><i class="icon-fixed-width icon-building"></i> Manage Listings</a>
</li>
