﻿@model RealProperty.Domain.Models.User
@{
    ViewBag.Title = "User Details";
}

@section actions {
    <p>
        <a href="@Url.Action("Index", "User")" class="btn btn-success btn-block"> <i class="icon-edit"></i> Home</a>
    </p>
}

<div class="container">
    <fieldset disabled>
        @if (ViewBag.ShowField)
        {
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyId, "Company", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.CompanyId, null, htmlAttributes: new { @class = "form-control", @placeholder = "Company" })
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.LastName, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </fieldset>
</div>
