﻿@using RealProperty.HtmlHelpers;
@model RealProperty.Domain.Models.UserLogin

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container login">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Login To RealProperty Portal</h3>
        </div>
        <div class="panel-body">
            <div class="container">
                @using (Html.BeginForm("Login", "User", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, message: null, htmlAttributes: new { @class = "alert alert-danger" })
                    <div class="form-group @Html.FormControlValidatorClassFor(m => m.UserName)">
                        @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "sr-only control-label" })
                        @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control", @placeholder = "User Name", @autofocus = "" })
                        @Html.ValidationMessageFor(m => m.UserName, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                    <div class="form-group @Html.FormControlValidatorClassFor(m => m.Password)">
                        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "sr-only control-label" })
                        @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="LOGIN" />
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
