﻿@using RealProperty.HtmlHelpers;
@model RealProperty.Domain.Models.Customer

@{
    ViewBag.Title = "Edit Customer";
}

@section actions {
    <p>
        <a href="@Url.Action("Index", "Customer")" class="btn btn-info btn-block"> <i class="icon-edit"></i> Cancel</a>
    </p>
}

<div class="container">
    @using (Html.BeginForm("Edit", "Customer", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, message: null, htmlAttributes: new { @class = "alert alert-danger" })

        @Html.HiddenFor(model => model.CustomerId)

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group @Html.FormControlValidatorClassFor(model => model.FirstName)">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @class = "form-control", @placeholder = "First Name", @autofocus = "" })
                @Html.ValidationMessageFor(model => model.FirstName, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group @Html.FormControlValidatorClassFor(model => model.LastName)">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.LastName, htmlAttributes: new { @class = "form-control", @placeholder = "Last Name" })
                @Html.ValidationMessageFor(model => model.LastName, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group @Html.FormControlValidatorClassFor(model => model.Email)">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control", @placeholder = "Email", @type = "email" })
                @Html.ValidationMessageFor(model => model.Email, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="checkbox @Html.FormControlValidatorClassFor(model => model.InMailingList)">
                @Html.LabelFor(model => model.InMailingList, htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.InMailingList)
                @Html.ValidationMessageFor(model => model.InMailingList, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group @Html.FormControlValidatorClassFor(model => model.CustomerTypeId)">
                @Html.LabelFor(model => model.CustomerType, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.CustomerTypeId, null, htmlAttributes: new { @class = "form-control", @placeholder = "Customer Type" })
                @Html.ValidationMessageFor(model => model.CustomerTypeId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <input type="submit" class="btn btn-success btn-lg btn-block" value="Save" />
            </div>
        </div>
    </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
