﻿@model IEnumerable<RealProperty.Domain.Models.Customer>

@{
    ViewBag.Title = "Customer Listing";
}


@section actions {
    <p>
        <a href="@Url.Action("Create", "Customer")" class="btn btn-success btn-block"><i class="icon-pushpin"></i> Create new</a>
    </p>
}

<div class="table-responsive">
    <table class="table table-bordered table-hover display datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InMailingList)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerType.Description)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InMailingList)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerType.Description)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Customer", new { id = item.CustomerId })" class="btn btn-default btn-sm"><i class="icon-edit"></i> Edit</a>
                        <a href="@Url.Action("Details", "Customer", new { id = item.CustomerId })" class="btn btn-default btn-sm"><i class="icon-folder-open"></i> Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/theme.js"></script>
}