﻿@model RealProperty.Domain.Models.ListingPropertyFeature

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ListingPropertyFeature</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AmountOfFeatures)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AmountOfFeatures)
            @Html.ValidationMessageFor(model => model.AmountOfFeatures)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ListingPropertyFeatureTypeId, "ListingPropertyFeatureType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ListingPropertyFeatureTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.ListingPropertyFeatureTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ListingPropertyId, "ListingProperty")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ListingPropertyId", String.Empty)
            @Html.ValidationMessageFor(model => model.ListingPropertyId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
