﻿@model RealProperty.Domain.Models.ListingPropertyFeature

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ListingPropertyFeature</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AmountOfFeatures)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AmountOfFeatures)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ListingPropertyFeatureType.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ListingPropertyFeatureType.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ListingProperty.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ListingProperty.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ListingPropertyFeatureId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
