﻿@model IEnumerable<RealProperty.Domain.Models.ListingPropertyFeature>

@{
    ViewBag.Title = "Index";
}

@section leftnavigation {
    @Html.Partial("_PropertyManagementPartial")
}

<div class="tab-content">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfFeatures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingPropertyFeatureType.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingProperty.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfFeatures)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListingPropertyFeatureType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListingProperty.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ListingPropertyFeatureId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ListingPropertyFeatureId })
                </td>
            </tr>
        }
    </table>
</div>