﻿/* Sticky footer styles adapted from getbootstrap.com */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #2c2c2c;
}

.container .credit {
    margin: 20px 0;
}

/* Custom theme site styles */
.login {
    max-width: 450px;
    margin-top: 200px;
}

th:last-child, td:last-child {
    min-width: 200px;
    max-width: 200px;
    width: 65px;
}


th, td {
    white-space: nowrap;
    overflow: hidden;
    max-width: 65px;
}


.panel-default > .panel-main {
    background-color: rgba(111, 40, 40, 1);
    border-color: rgb(85, 30, 30);
    color: #fff;
}

.panel-default-main {
    border-color: rgb(85, 30, 30);
}

.panel-default > .panel-actions {
    background-color: rgba(46, 46, 46, 0.92);
    border-color: #2c2c2c;
    color: #fff;
}

.panel-default-actions {
    border-color: #2c2c2c;
}

.thumbnail-property {
    width: 300px;
    max-height: 240px;
    min-height: 240px;
}