﻿@using RealProperty.HtmlHelpers;
@model RealProperty.Domain.ViewModels.ListingPropertyViewModel

@{
    ViewBag.Title = "Create Property";
}

@section actions {
    <p>
        <a href="@Url.Action("Index", "ListingProperty")" class="btn btn-info btn-block"> <i class="icon-edit"></i> Cancel</a>
    </p>
}

<div class="container fuelux">
    @using (Html.BeginForm("Create", "ListingProperty", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, message: null, htmlAttributes: new { @class = "alert alert-danger" })

        <div class="wizard" id="propertyWizard">
            <ul class="steps">
                <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Details<span class="chevron"></span></li>
                <li data-target="#step2"><span class="badge">2</span>Address<span class="chevron"></span></li>
                <li data-target="#step3"><span class="badge">3</span>Features<span class="chevron"></span></li>
                <li data-target="#step4"><span class="badge">4</span>Images<span class="chevron"></span></li>
            </ul>
            <div class="actions">
                <button type="button" class="btn btn-mini btn-prev"> <i class="icon-arrow-left"></i>Prev</button>
                <button type="button" class="btn btn-mini btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="step-content">
            <div class="step-pane active" id="step1">
                <div class="control-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Extras, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Extras)
                        @Html.ValidationMessageFor(model => model.Extras, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.ReferenceNumber, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.ReferenceNumber)
                        @Html.ValidationMessageFor(model => model.ReferenceNumber, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.SellingPrice, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.SellingPrice)
                        @Html.ValidationMessageFor(model => model.SellingPrice, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Featured, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Featured)
                        @Html.ValidationMessageFor(model => model.Featured, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.DisplayAddress, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.DisplayAddress)
                        @Html.ValidationMessageFor(model => model.DisplayAddress, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.AgentId, "Agent", htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownList("AgentId", String.Empty)
                        @Html.ValidationMessageFor(model => model.AgentId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.ListingPropertyTypeId, "Property Type", htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownList("ListingPropertyTypeId", String.Empty)
                        @Html.ValidationMessageFor(model => model.ListingPropertyTypeId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.ListingTypeId, "Listing Type", htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownList("ListingTypeId", String.Empty)
                        @Html.ValidationMessageFor(model => model.ListingTypeId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step2">
                <div class="span5">
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
            <div class="step-pane" id="step3">
                <div class="span5">
                    @Html.EditorFor(model => model.ListingPropertyFeatureViewModels)
                    @Html.ValidationMessageFor(model => model.ListingPropertyFeatureViewModels)
                </div>
            </div>
            <div class="step-pane" id="step4">
                <div class="span7">
                    @Html.EditorFor(model => model.ListingPropertyImagesViewModels)
                    @Html.ValidationMessageFor(model => model.ListingPropertyImagesViewModels)
                </div>

                <div class="span12">
                    <input type="submit" value="Save" class="btn-large btn-info" />
                    @Html.ActionLink("Cancel", "Index", null, htmlAttributes: new { @class = "btn btn-large btn-inverse" })
                </div>

            </div>
        </div>

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#propertyWizard').wizard();
    </script>
}
