﻿@model RealProperty.Domain.ViewModels.ListingPropertyEditViewModel

@{
    ViewBag.Title = "Property Details";
}

@section actions {
    <p>
        <a href="@Url.Action("Index", "ListingProperty")" class="btn btn-success btn-block"> <i class="icon-edit"></i> Home</a>
    </p>
    <p>
        <a href="@Url.Action("ListingEnquiries", "ListingProperty", new { @listingPropertyId = Model.ListingPropertyId })" class="btn btn-warning btn-block"> <i class="icon-group"></i> Enquires</a>
    </p>
}

<div class="container fuelux">
    <div class="wizard" id="propertyWizard">
        <ul class="steps">
            <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Details<span class="chevron"></span></li>
            <li data-target="#step2"><span class="badge">2</span>Address<span class="chevron"></span></li>
            <li data-target="#step3"><span class="badge">3</span>Features<span class="chevron"></span></li>
            <li data-target="#step4"><span class="badge">4</span>Images<span class="chevron"></span></li>
        </ul>
        <div class="actions">
            <button type="button" class="btn btn-mini btn-prev"> <i class="icon-arrow-left"></i>Prev</button>
            <button type="button" class="btn btn-mini btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
        </div>
    </div>
    <div>&nbsp;</div>
    <fieldset disabled>
        <div class="step-content">
            <div class="step-pane active" id="step1">
                <div class="control-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Title)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Description)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Extras, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Extras)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.ReferenceNumber, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.ReferenceNumber)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.SellingPrice, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.SellingPrice)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Featured, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Featured)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.DisplayAddress, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.DisplayAddress)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.AgentId, "Agent", htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownList("AgentId", String.Empty)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.ListingPropertyTypeId, "Property Type", htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownList("ListingPropertyTypeId", String.Empty)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.ListingTypeId, "Listing Type", htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownList("ListingTypeId", String.Empty)
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step2">
                <div class="span5">
                    @Html.EditorFor(model => model.Address)
                </div>
            </div>
            <div class="step-pane" id="step3">
                <div class="span5">
                    @Html.EditorFor(model => model.ListingPropertyFeatureViewModels)
                </div>
            </div>
            <div class="step-pane" id="step4">
                <div class="span7">
                    @Html.EditorFor(model => model.ListingPropertyImagesViewModels)
                </div>
            </div>
        </div>
    </fieldset>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#propertyWizard').wizard();
    </script>
}
