﻿@model IEnumerable<RealProperty.Domain.Models.ListingProperty>

@{
    ViewBag.Title = "Property Listing";
}

@section actions {
    <p>
        <a href="@Url.Action("Create", "ListingProperty")" class="btn btn-success btn-block"><i class="icon-pushpin"></i> Create new</a>
    </p>
}

<div class="table-responsive">
    <table class="table table-bordered table-hover display datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListingPropertyType.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReferenceNumber)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Featured)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Title, "Details", "ListingProperty", new { @id = item.ListingPropertyId }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListingPropertyType.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReferenceNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Featured)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "ListingProperty", new { id = item.ListingPropertyId })" class="btn btn-default btn-sm"><i class="icon-edit"></i> Edit</a>
                        <a href="@Url.Action("ListingEnquiries", "ListingProperty", new { @listingPropertyId = item.ListingPropertyId })" class="btn btn-default btn-sm"><i class="icon-folder-archive"></i> Enquiries</a>
                        <a href="@Url.Action("Deactivate", "ListingProperty", new { id = item.ListingPropertyId })" class="btn btn-default btn-sm"><i class="icon-folder-archive"></i> Remove</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/theme.js"></script>
}