﻿@model IEnumerable<RealProperty.Domain.Models.ListingPropertyEnquiry>

@{
    ViewBag.Title = String.Concat("Listing Enquiries For ",  Model.FirstOrDefault().ListingProperty.Title);
}

@section actions {
    <p>
        <a href="@Url.Action("Details", "ListingProperty", new { @id = Model.FirstOrDefault().ListingPropertyId })" class="btn btn-success btn-block"><i class="icon-pushpin"></i> Go To Property</a>
    </p>
}

<div class="table-responsive">
    <table class="table table-bordered table-hover display datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Customer.FullName, "Details", "Customer", new { @id = item.CustomerId }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "ListingProperty", new { id = item.ListingPropertyId })" class="btn btn-default btn-sm"><i class="icon-folder-open"></i> Go To Property</a>
                        <a href="@Url.Action("ListingEnquiryDetails", "ListingProperty", new { id = item.ListingPropertyEnquiryId })" class="btn btn-default btn-sm"><i class="icon-folder-open"></i> Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/theme.js"></script>
}