﻿@model RealProperty.Domain.Models.ListingPropertyEnquiry

@{
    ViewBag.Title = "Listing Enquiry Details";
}


@section actions {
<p>
    <a href="@Url.Action("ListingEnquiries", "ListingProperty", new { listingPropertyId = Model.ListingPropertyId })" class="btn btn-success btn-block"> <i class="icon-edit"></i> Back</a>
</p>
}

<div class="container">
    <fieldset disabled>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Customer, "Customer Name", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Customer.FullName, null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Customer, "Customer Email", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Customer.Email, null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Customer.InMailingList, "Customer In Mailing List", htmlAttributes: new { @class = "control-label" })
                    @Html.CheckBoxFor(model => model.Customer.InMailingList)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Comment, "Comment", htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Comment, 15, 5, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </fieldset>
</div>