﻿@model RealProperty.Domain.Models.ListingPropertyFeatureType

@{
    ViewBag.Title = "Property Feature Type Details";
}

@section actions {
    <p>
        <a href="@Url.Action("Index", "ListingPropertyFeatureType")" class="btn btn-success btn-block"> <i class="icon-edit"></i> Home</a>
    </p>
}

<div class="container">
    <fieldset disabled>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </fieldset>
</div>