﻿@model RealProperty.Domain.Models.Address


<div class="control-group">
    
    @Html.LabelFor(model => model.StreetNumber, htmlAttributes: new { @class = "control-label" })

    <div class="controls">
        @Html.EditorFor(model => model.StreetNumber)
        @Html.ValidationMessageFor(model => model.StreetNumber, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.StreetName, htmlAttributes: new { @class = "control-label" })

    <div class="controls">
        @Html.EditorFor(model => model.StreetName)
        @Html.ValidationMessageFor(model => model.StreetName, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label" })

    <div class="controls">
        @Html.EditorFor(model => model.Area)
        @Html.ValidationMessageFor(model => model.Area, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Suburb, htmlAttributes: new { @class = "control-label" })

    <div class="controls">
        @Html.EditorFor(model => model.Suburb)
        @Html.ValidationMessageFor(model => model.Suburb, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })

    <div class="controls">
        @Html.EditorFor(model => model.City)
        @Html.ValidationMessageFor(model => model.City, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })

    <div class="controls">
        @Html.EditorFor(model => model.Code)
        @Html.ValidationMessageFor(model => model.Code, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.AddressTypeId, "AddressType", htmlAttributes: new { @class = "control-label" })

    <div class="controls">
        @Html.DropDownList("AddressTypeId", String.Empty)
        @Html.ValidationMessageFor(model => model.AddressTypeId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.ProvinceId, "Province", htmlAttributes: new { @class = "control-label" })

    <div class="controls">
        @Html.DropDownList("ProvinceId", String.Empty)
        @Html.ValidationMessageFor(model => model.ProvinceId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
