﻿@model RealProperty.Domain.ViewModels.ContactNumberViewModel

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            @Html.HiddenFor(model => model.ContactNumberTypeId)
            @Html.LabelFor(model => model.Description, Model.Description, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ContactNumber, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ContactNumber, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
        </div>
    </div>
</div>