﻿@model RealProperty.Domain.ViewModels.ListingPropertyImagesViewModel

<div class="control-group">

    @Html.LabelFor(model => model.ListingImage, "Listing Image", htmlAttributes: new { @class = "control-label" })
    <div class="controls">
        @if (!Model.MaskedName.IsEmpty()) 
        {
            @Html.HiddenFor(model => model.FileContentId)
            <img id="@ViewData.TemplateInfo.GetFullHtmlFieldId("ListingImage")_img" src="@String.Concat("/Content/property/images/",@Model.MaskedName)" alt="Listing Image" class="img-polaroid thumbnail-property" />

              @Html.HiddenFor(model => model.RemoveFile)
            <input class="btn btn-small btn-danger" type="button" value="Delete image" id="@ViewData.TemplateInfo.GetFullHtmlFieldId("ListingImage")_btn" onclick="EnableFile('@ViewData.TemplateInfo.GetFullHtmlFieldId("ListingImage")', '@ViewData.TemplateInfo.GetFullHtmlFieldId("RemoveFile")' );" />
            <input disabled="disabled" style="display:none" type="file" name="@ViewData.TemplateInfo.GetFullHtmlFieldName("ListingImage")" id="@ViewData.TemplateInfo.GetFullHtmlFieldId("ListingImage")" />
            @Html.ValidationMessageFor(model => model.ListingImage, validationMessage: null, htmlAttributes: new { @class = "text-danger" })            
        }
        else
        {
            <input type="file" name="@ViewData.TemplateInfo.GetFullHtmlFieldName("ListingImage")" id="@ViewData.TemplateInfo.GetFullHtmlFieldId("ListingImage")" />
            @Html.ValidationMessageFor(model => model.ListingImage, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
        }
    </div>
</div>


<script type="text/javascript">
    function EnableFile(id, removeFile) {
        $("#" + id).removeAttr("disabled");
        $("#" + id).css("display", "block");
        $("#" + id + "_img").remove();
        $("#" + id + "_btn").remove();

        $("#" + removeFile).val(true);
    }
</script>