﻿@model RealProperty.Domain.ViewModels.ListingPropertyFeatureViewModel


@Html.EditorFor(model => model.Description)

<div class="editor-label">
    @Html.LabelFor(model => model.AmountOfFeatures)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AmountOfFeatures)
    @Html.ValidationMessageFor(model => model.AmountOfFeatures, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ListingPropertyFeatureTypeId, "ListingPropertyFeatureType")
</div>
<div class="editor-field">
    @Html.DropDownList("ListingPropertyFeatureTypeId", String.Empty)
    @Html.ValidationMessageFor(model => model.ListingPropertyFeatureTypeId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
</div>
