﻿@model RealProperty.Domain.ViewModels.ListingPropertyFeatureViewModel

<div class="control-group">
        @Html.HiddenFor(model => model.ListingPropertyFeatureTypeId)
        @Html.HiddenFor(model => model.ListingPropertyFeatureId)
        @Html.LabelFor(model => model.Description, Model.Description, htmlAttributes: new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.AmountOfFeatures)
        @Html.ValidationMessageFor(model => model.AmountOfFeatures, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
    </div>
</div>