﻿@model IEnumerable<RealProperty.Domain.Models.Gallery>

@{
    ViewBag.Title = "Index";
}

@section leftnavigation {
    @Html.Partial("_ContentManagementPartial")
}

<div class="tab-content">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GalleryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GalleryId })
                </td>
            </tr>
        }

    </table>
</div>